body {
  font-family: 'comic sans MS', Arial, Helvetica, sans-serif;
}
header {
  display: block;
  margin-bottom: 5%;
  width: 100%;
}

div.number {
  text-decoration: none;
  font-size: 1.5em;
  border: 3px solid black;
  border-radius: 20px;
  width: 70%;
  margin: 5% auto 5% auto;
  text-align: center;
}

div.number:hover {
  background-color: grey;
  border: rgb(230, 166, 159) 3px solid;
  color: rgb(230, 166, 159);
}

.wrap {
  position: relative;
}
.chicken,
.beef,
.sushi {
  width: 30%;
  position: absolute;
  right: -3px;
  top: -3px;
  padding: 2px;
  font-size: 1.5em;
  text-align: center;
  border: black 3px solid;
  font-family: 'comic san MS', Arial, Helvetica, sans-serif;
}
.chicken {
  background-color: rgb(230, 166, 159);
}

.beef {
  background-color: rgba(207, 55, 55, 0.795);
}

.sushi {
  background-color: rgb(219, 219, 150);
}

footer > img {
  border-radius: 8px;
  margin-top: 0;
  border: 3px black solid;
  margin-bottom: 6%;
  margin-left: 3%;
  margin-right: 3%;
}

footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/********DESKTOP***********/
@media (min-width: 992px) {
  section {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    border: 3px black solid;
    background-color: grey;
    width: 30%;
    margin: 0% 1.5% 5% 1.5%;
    padding: 5% 1.5% 5% 1.5%;
  }

  div.number {
    display: none;
  }
}

/**********TABLET*******/
@media (min-width: 768px) and (max-width: 991px) {
  section {
    display: inline-block;
    border: 3px black solid;
    background-color: grey;
    width: 45%;
    padding: 3%;
    box-sizing: border-box;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding: 5% 4% 5% 4%;
  }

  .block {
    width: 95%;
  }

  div.number {
    display: none;
  }
}

/**********MOBILE*********/
@media (max-width: 767px) {
  section {
    border: 3px black solid;
    background-color: grey;
    width: 85%;
    margin: 5% auto;
    padding: 3%;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 5%;
    padding: 5% 4% 5% 4%;
  }

  footer > img {
    width: 20%;
  }
}
